<div class="best-services-section">
  <div class="text-btn">
    <a>Benefits</a>
    <h2>Our Best Service</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown</p>
  </div>
  <div class="cards">
    <a class="card" *ngFor="let card of cards">
      <img src="{{card.src}}" alt="{{card.alt}}">
      <div>
        <h4>{{card.upperText}}</h4>
        <p>{{card.lowerText}}</p>
      </div>
    </a>
  </div>
</div>
