@import "src/assets/styles/colors/colors";
@import "src/assets/styles/fonts/fonts";

.easy-way {
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem;
  width: 100%;
  font-family: $Inter;
  color: $white-color;
  gap: 1.875rem;

  .text-btn {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 1.25rem;

    h2 {
      font-weight: 600;
      font-size: 3rem;
      line-height: 3.5rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      color: $active-color;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    p {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: $gray-color;
    }
  }

  .easy-cards {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .first-row,
    .second-row {
      width: 43.75rem;
      display: flex;
      flex-direction: row;
      gap: 0.625rem;
    }

    .first-row {
      justify-content: flex-start;
    }

    .second-row {
      justify-content: flex-end;
    }

    .easy-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 15.625rem;
      width: 18.75rem;
      border-radius: 0.9375rem;
      padding: 0.0625rem 1.875rem;
      background-color: $dark-color;

      h4 {
        font-weight: 600;
        font-size: 1.1875rem;
        line-height: 1.4375rem;
        text-align: center;
        letter-spacing: 0.02em;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.375rem;
        text-align: center;
        color: $gray-color;
      }
    }
  }
}

a:hover {
  opacity: 0.7;
}
