<div class="easy-way">
  <div class="text-btn">
    <a>Create Profile</a>
    <h2>Easy Way to Get Started</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
    <a>Start Trading <img src="assets/home-imgs/easy-block/Icon.png" alt="Start Trading"></a>
  </div>
  <div class="easy-cards">
    <div class="first-row">
      <a class="easy-card">
        <img src="assets/home-imgs/easy-block/add-user%20(1)%201.png" alt="">
        <h4>Create an account</h4>
        <p>Sign up with your email and mobile in just 5 minutes</p>
      </a>
      <a class="easy-card">
        <img src="assets/home-imgs/easy-block/credit-card%201.png" alt="">
        <h4>Verify your bank account</h4>
        <p>Verify Your Bank Account in Easy Way</p>
      </a>
    </div>
    <div class="second-row">
      <a class="easy-card">
        <img src="assets/home-imgs/easy-block/wallet%201.png" alt="">
        <h4>Add Funds to Wallet</h4>
        <p>Quickly add money to your investment wallet</p>
      </a>
      <a class="easy-card">
        <img src="assets/home-imgs/easy-block/diagram%201.png" alt="">
        <h4>Start Tranding Instantly</h4>
        <p>Buy & Sell a variety of top coins at the best prices</p>
      </a>
    </div>
  </div>
</div>
