@import "src/assets/styles/colors/colors";
@import "src/assets/styles/fonts/fonts";

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: $info-color;

  .row {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-top: .5rem;
  }

  .mat-mdc-header-cell {
    color: $info-color;
    font-family: $Inter;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.025rem;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    color: $white-color;
    font-family: $Inter;
  }

  thead {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 0.15rem solid rgba(239, 239, 239, 0.15);

    th {
      padding-bottom: 1.25rem;
    }
  }
}

.custom-paginator {
  font-family: $Inter;
  background-color: transparent;
  color: $info-color;
  font-weight: 400;
  font-size: .8rem;
}

.negative {
  color: #DC2626;

}

.positive {
  color: #03A66D;
}

:host::ng-deep .mat-mdc-paginator-icon {
  fill: $info-color
}
:host::ng-deep .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: rgba(108,112,128,.4);
}
