<div class="download-sect">
  <img src="assets/home-imgs/download-block/Img.png">

  <div class="downloads">
    <a>Download the app</a>
    <h2>Trade Anywhere, AnyTime</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown</p>
    <div class="cards">
      <a class="card" *ngFor="let card of cards">
        <img src="{{card.src}}" alt="{{card.alt}}">
        <h4>{{card.upperText}}</h4>
        <p>{{card.lowerText}}</p>
      </a>
    </div>
  </div>
</div>
