<section class="navbar_container">
  <div class="navbar_area">
    <div class="logo">
      <img src="../../../../assets/common_imgs/Logo.png" alt="Logo">
    </div>
    <ul class="nav_btns">
      <li class="nav_btn" *ngFor="let point of menuPoints"><a [routerLink]="['/menu', point | lowercase]">{{point}}</a></li>
    </ul>
    <div class="login_btns">
      <div class="en_usd_btn">
        <select>
          <option value="usd" selected>English | USD</option>
        </select>
      </div>
      <div class="login">
        <button class="sing_in" [routerLink]="['/auth', 'login']">Sing in</button>
        <button class="register" [routerLink]="['/auth', 'register']">Register</button>
      </div>
    </div>
  </div>
  <div class="hr"></div>
</section>


