<section class="navbar_container">

  <div class="logo">
    <img src="../../../../assets/common_imgs/Logo.png" alt="Logo">
  </div>

  <ul class="nav_btns">
    <li class="nav_btn" *ngFor="let point of menuPoints"><a href="#">{{point}}</a></li>
  </ul>

  <div class="wallet-trade">
    <div class="en_usd_btn">
      <select>
        <option value="usd" selected>English | USD</option>
      </select>
    </div>
    <button class="trade-history"><img alt="Logo" src="assets/header_imgs/Icon.png">Trade History</button>
    <button class="wallet"><img alt="Logo" src="assets/header_imgs/Icon%20Wallet.png"> Wallet</button>
    <a href="#" (click)="onLogout($event)">Log out</a>
  </div>
</section>


