<section class="footer_container">
  <div class="footer_links">
    <div class="about_company">
      <img src="../../../../assets/common_imgs/Logo.png" alt="Logo">
      <div class="text_icons">
        <p>Lorem ipsum dolor sit amet,consec egestas nisl condimentum.adipiscing elit. Nibh aenean aliquet amet, neque
          sit maecenas. Lorem sed egestas nisl condimentum.</p>
        <div class="socials">
          <a href="#"><img src="../../../../assets/footer-imgs/Facebook.png" alt="Facebook"></a>
          <a href="#"><img src="../../../../assets/footer-imgs/Instagram.png" alt="Instagram"></a>
          <a href="#"><img src="../../../../assets/footer-imgs/Youtube.png" alt="Youtube"></a>
          <a href="#"><img src="../../../../assets/footer-imgs/Twitter.png" alt="Twitter"></a>
          <a href="#"><img src="../../../../assets/footer-imgs/Linkedin.png" alt="Linkedin"></a>
        </div>
      </div>
    </div>
    <div class="links">
      <div class="link">
        <h3>Exchange</h3>
        <ul class="lower_links">
          <li>Exchange Home</li>
          <li>Margin Trading</li>
          <li>Derivatives Trading</li>
          <li>Supercharger</li>
        </ul>
      </div>
      <div class="link">
        <h3>Support</h3>
        <ul>
          <li>Request Form</li>
          <li>Contact Support</li>
          <li>FAQ</li>
          <li>Security</li>
        </ul>
      </div>
      <div class="link">
        <h3>Resources</h3>
        <ul>
          <li>Downloads</li>
          <li>Desktop Aplication</li>
          <li>Buy Crypto</li>
          <li>Referral</li>
          <li>Listing Trading</li>
        </ul>
      </div>
      <div class="link">
        <h3>Learn</h3>
        <ul>
          <li>What's Trending</li>
          <li>Product News</li>
          <li>Events</li>
          <li>University</li>
          <li>Research</li>
          <li>Market Update</li>
        </ul>
      </div>
      <div class="link">
        <h3>Company</h3>
        <ul>
          <li>About Us</li>
          <li>Careers</li>
          <li>News</li>
          <li>Security</li>
          <li>Community</li>
          <li>Announcements</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_frame">
    <img src="assets/footer-imgs/Up%20Page%20Tab.png" alt="UpPageTab">
  </div>
</section>

<section class="footer_down_container">
  <hr/>
  <div class="down_container">
    <div class="copy_right">
      <p>© 2022 dynamic. All rights reserved</p>
      <div class="down_links">
        <div class="vl"></div>
        <p><a>Privacy</a></p>
      </div>
      <div class="down_links">
        <div class="vl"></div>
        <p><a>Terms</a></p>
      </div>
      <div class="down_links">
        <div class="vl"></div>
        <p><a>Sitemap</a></p>
      </div>
    </div>
    <div class="download_links">
      <div class="download_link">
        <img src="assets/footer-imgs/App%20Download%20Icon.png" alt="Windows">
        <div class="text">
          <p class="upper_text">Download PC-Client</p>
          <p class="lower_text">Windows</p>
        </div>
      </div>
      <div class="download_link">
        <img src="assets/footer-imgs/App%20Download%20Icon%20(1).png" alt="MacOS">
        <div class="text">
          <p class="upper_text">Download for the</p>
          <p class="lower_text">MacOS</p>
        </div>
      </div>
      <div class="download_link">
        <img src="assets/footer-imgs/App%20Download%20Icon%20(2).png" alt="App Store">
        <div class="text">
          <p class="upper_text">Download on the</p>
          <p class="lower_text">App Store</p>
        </div>
      </div>
      <div class="download_link">
        <img src="assets/footer-imgs/App%20Download%20Icon%20(3).png" alt="Google Play">
        <div class="text">
          <p class="upper_text">Get in on </p>
          <p class="lower_text">Google Play</p>
        </div>
      </div>
    </div>
  </div>
</section>
