<div class="auto-layout-container">
  <div *ngIf="!authorized" class="navbar">
    <app-non-authorized-header></app-non-authorized-header>
  </div>
  <div *ngIf="authorized" class="navbar-2">
    <app-authorized-header></app-authorized-header>
  </div>

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <app-non-authorized-footer *ngIf="!authorized"></app-non-authorized-footer>
    <app-authorized-footer *ngIf="authorized"></app-authorized-footer>
  </div>
</div>

