@import "src/assets/styles/colors/colors";
@import "src/assets/styles/fonts/fonts";

.market-coins-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.3rem;
  gap: 1.8rem;

  .search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.25rem;

    .filters {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      gap: 1.9rem;

      .filter-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;

        .filter-btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: none;
          padding: 0.9rem 1.25rem;
          gap: 0.625rem;
          border-radius: 0.3rem;
          border: 0.12rem solid $gray-color;
          color: $gray-color;
          font-family: $Inter;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }

        .filter-btn:active {
          color: $active-color;
          border-color: $active-color;
        }
      }

      .search-field-cont {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        align-items: center;

        button {
          background: none;
          border-radius: 0.3rem;
          border: none;
        }

        mat-icon {
          color: $gray-color;
        }
      }
    }
  }

  .coin-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0;
    align-items: flex-start;

    .selectors {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0;
      justify-content: space-between;
      align-items: flex-start;

      .left-selectors {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        gap: 1.5rem;
        color: $info-color;

        .open-btn {
          display: flex;
          flex-direction: row;
          width: 7.5rem;
          align-items: center;
          font-family: $Inter;
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.3rem;
        }
      }

      .right-selectors {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0;
        gap: 0.6rem;
        color: $gray-color;

        .wide-btn {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          width: 8rem;
          font-family: $Inter;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }

        .icon-btn {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: $Inter;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
    .coins {
      width: 100%;
    }
  }
}

#search-field {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.12rem solid $gray-color;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: $gray-color;
}

#search-field:focus {
  outline: 0.12rem solid $gray-color;
}

.hr {
  width: 100%;
  border-bottom: 0.15rem solid rgba(239, 239, 239, 0.15);
}

span {
  margin: 0;
  padding: 0;
  right: 0;
}
