$primary-color: #121318;
$dark-color: #080808;
$white-color: #FFFFFF;
$active-color: #5367FF;
$info-color: #6C7080;
$gray-color: #9295A6;
$login-active-color: #8AC8FF;
$danger-color: #DC2626;

