@import "assets/styles/fonts/fonts";
@import "assets/styles/colors/colors";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'material-icons/iconfont/material-icons.scss';

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark-color;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}
select:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
