@import "src/assets/styles/colors/colors";
@import "src/assets/styles/fonts/fonts";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  gap: 150px;

  .greeting-cont {
    width: 95%;
    background: $primary-color;
    border-radius: 20px;
  }

  .top-market-cont {
    width: 80%;
  }

  .easy-cont {
    width: 100%;
    background: $primary-color;
  }

  .download-cont {
    width: 80%;
  }

  .best-services-cont {
    width: 80%;
  }

  .investors-cont {
    width: 100%;
    background: $primary-color;
  }

  .mining-cont {
    width: 60%;
    background: #3671E9;
    border-radius: 15px;
  }
}

a {
  font-family: $Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
